= form_for([@article, @article.comments.build],:html => { :class => "form-horizontal" }) do |f|
  .form-group
    = f.label :commenter, :class => 'control-label col-md-2'
    .col-lg-10
      = f.text_field :commenter, :value => current_user.email,:readonly => true, :class => 'form-control'
  .form-group
    = f.label :body, :class => 'control-label col-md-2'
    .col-lg-10
      = f.text_area :body, :rows => '5', :id => 'area1', :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit :class => 'btn btn-success'

:javascript
  jQuery( document ).ready(function( $ ) {
    new nicEditor().panelInstance('area1');
  });
  