= form_for @article do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :text
  %p
    = f.text_area :text
  %p
    = f.label :tag
  %p
    = f.text_field :tag_list
  %p
    = f.file_field :poster
  %p
    = f.submit
       