= javascript_include_tag "application"
%div{:style => "background-color:black; color:white; padding:20px;"}
  A nice stuff collection
.add-article-container
  = link_to 'Add a New article', new_article_path, class: "btn btn-primary"
.table-responsive
  %table.table.table-hover
    %tr
      %th Title
      %th Text
      %th{:colspan => "3"}
    - @articles.each do |article|
      %tr
        %td
          = article.title
        %td
          = article.text
        %td
          = link_to 'Show', article_path(article)
        %td
          = link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article_path(article), |
            method: :delete,                          |
            data: { confirm: 'Are you sure?' }        |
            