.container-fluid
  .well
    .blog-header
      %h1.blog-title= @article.title
      %p.lead.blog-description= @article.text
      = render @article.tags
      %h5 Comments
      = render @article.comments
      %h5 poster
      = image_tag @article.poster.url(:thumb) 

      %h5 Add a comment:
      = render 'comments/form'
      = link_to 'Edit', edit_article_path(@article)
      |
      \#{link_to 'Back', articles_path}
