%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => ""} Home
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "/articles"} Collections
    %p.navbar-text.navbar-right
      Signed in as
      %a.navbar-link{:href => "#"} Mark Otto
    %ul.nav.navbar-nav.navbar-right
      %li.active
        = link_to "Logout", destroy_user_session_path, method: :delete
      
.jumbotron
  %h1 Welcome to toocomplex1 blog!

//to search from welcome page

= search_form_for @q, :url => url_for(:controller => 'welcome', :action => 'index') do |f|

  = f.label :title_name
  = f.search_field :title_cont
  = f.submit


.table-responsive
  %table.table.table-hover
    %tr
      
      %th{:colspan => "3"}
    - @articles != nil and @articles.each do |article|
      %tr
        %td
          = article.title
        %td
          = article.text
        %td
          = render article.tags
        %td
          = article.created_at
        %td
          = link_to 'Show', article_path(article)
        %td
          = link_to 'Edit', edit_article_path(article)

      
        %td= link_to 'Destroy', article_path(article), |
            method: :delete,                          |
            data: { confirm: 'Are you sure?' }        |

